.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  max-width: 720px;
  margin: 0 auto;
}

.top-bar {
  width: 100%;
  background-color: #313131;
  border-radius: 10px;
}

.color-bar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.bottom-bar {
  width: 100%;

}

.main-content {
  flex-grow: 1;
  /* 남은 공간을 채움 */
  width: 100%;
  /* 부모 컨테이너(최대 720px)의 너비를 채움 */
  overflow-y: auto;
  /* 필요한 경우 스크롤 */
}

/* @media (max-width: 375px) {
  .main-content {
    width: 90%;
    margin: 0 auto;
  }

  .color-bar {
    width: 90%;
  }
} */